::selection {
    color: #000;
    background: #fff;
}
::-moz-selection {
    color: #000;
    background: #fff;
}
img::selection 
{
    color: none;
    background: none;
}
img::-moz-selection
{
    color: none;
    background: none;
}
.avatar
{
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 5px;
}