::selection {
    color: #000;
    background: #fff;
}
::-moz-selection {
    color: #000;
    background: #fff;
}
img::selection 
{
    color: none;
    background: none;
}
img::-moz-selection
{
    color: none;
    background: none;
}
.avatar
{
    vertical-align: middle;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.infoTop
{
    margin-top: 105px;
}